@import url('https://fonts.cdnfonts.com/css/tiny-box');
@import url('https://fonts.cdnfonts.com/css/bitbold');

/* GENERAL */

.App {
  width: 100%;
  
  opacity: 0;
  animation: fadeIn 3s ease forwards;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

body {
  background-color: #E6E6E6;
  color: #39393A;
  font-family: 'BitBold', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline; 
  color: #39393A; 
}

/* CUSTOM */

.header {
  position: fixed;
  top: 0;
  width: 98%;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.7rem;
}

.main {
  padding-top: 50px;
  padding-bottom: 50px;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1000;
}

.logo-container {
  top: 0;
  transform: translateX(-50%);
}

.logo {
  font-size: 0.45rem;
  font-weight: bold;
}

.logo-text {
  font-family: 'Tiny BoxBitA10', sans-serif;
  font-size: 0.85rem;
}

.footer-links {
  margin-bottom: 2vh;
  font-size: 0.6rem;
}

/* ANIMATIONS */

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
