@import url('https://fonts.cdnfonts.com/css/tiny-box');
@import url('https://fonts.cdnfonts.com/css/bitbold');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500;600;700&display=swap');

/* GENERAL */

.container {
  width: 100%;
  opacity: 0;
  animation: fadeIn 3s ease forwards;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: center;
  height: 100vh;
}

.main {
  margin-top: 12%;
  /* margin-bottom: 100vh; */
}

body {
  background-color: #f0f0f0;
  color: #39393A;
  font-family: 'BitBold', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline; 
  color: #39393A; 
}

/* CUSTOM */

.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.7rem;
  background-color: #E6E6E6;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80vw;
  font-weight: bold;
  text-align: center;
  line-height: 1.5;
  z-index: 1;
}

.table-terminal {
  width: 100%;
  color: #39393A;
  background-color: #E6E6E6;
  border-collapse: collapse;
  border: 0.19rem solid #39393A;
  margin-bottom: 15%;
}

.table-terminal th {
  
  font-size: 0.9rem;
}

.table-terminal td {
  font-family: Consolas, monospace;
  font-size: 0.9rem;
}

.table-terminal th, .table-terminal td {
  border: 0.15rem solid #39393A;
  padding: 10px;
  text-align: left;
}

.table-terminal th {
  background-color: #E6E6E6;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1000;
  background-color: #E6E6E6;
}

.logo {
  font-size: 0.45rem;
  font-weight: bold;
}

.logo-text-container {
  font-size: 0.85rem;
  margin-right: 2vw;
}

.logo-text {
  font-family: 'Tiny BoxBitA10', sans-serif;
}

.footer-links {
  display: flex;
  align-items: center;
  margin-bottom: 0.5vh;
  font-size: 0.6rem;
}

/* ANIMATIONS */

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
